# PyCharm files
.idea/

# pyenv
.python-version

# macOS files
.DS_Store

# Environment
.venv/
node_modules/

# AWS Chalice files
chalice.out/
api/runtime/.chalice/deployed/
api/runtime/.chalice/deployments/

# AWS CDK files
cdk.out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
