# AWS CDK
cdk.out/

# AWS Chalice
chalice.out/
api/runtime/.chalice/deployed/
api/runtime/.chalice/deployments/

# Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# CDK-Dia
diagram.png*

# Coverage.py
.coverage
coverage.xml
htmlcov/

# Dependencies
.venv/
node_modules/

# Diagrams.net
*.drawio

# macOS
.DS_Store

# PyCharm
.idea/

# pyenv
.python-version
